/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    display: block;
    width: 100%;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* UTILITY */

.text-gray {
    color: rgb(101, 101, 101);
}

.text-white {
    color: white;
}

.bcg-purple {
    background-color: #6500FF;
}

.bcg-gray {
    background-color: #E3E3E3;
}

.text-purple {
    color: #6500FF;
}

.bcg-whitec{
    background-color: white;
}

.big-text {
    font-size: 55px;
}

.text-center {
    text-align: center;
}

ul {
    list-style-type: none;
}

/* HEADER */

.header {
    padding: 24px;
    position: relative;
    /* 
    display: flex;
    justify-content: space-between;
    */
}

.button-select {
    text-align: right;
    position: absolute;
}

/* MAIN */

main {
    padding: 24px;
}

/* PLANS CARDS */

div.plans {
    padding: 40px;
    border-radius: 24px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.116);
    flex-basis: calc((100% / 3) - (20px * 2) / 3);
    min-width: 350px;
    flex-shrink: 0;
    flex-grow: 1;
}

.discount-percent {
    padding: 7px 7px;
    background-color: #E3E3E3;
    border-radius: 5px;
}

.action-button {
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-features {
    line-height: 2.2;
    font-weight: bolder;

}

.bi-check2{
    margin-right: 10px;
    font-size: 20px;
}

.bi-x-lg{
    margin-right: 10px;
    font-size: 20px;
}

/* MAIN-CONTAINER */

.plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}